*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  display: flex;
  padding-top: 3%;
}
ul{
  list-style-type: none;
}
li{
  padding: 0.5rem;
}
main{
  background-color: black;
}
.main-content{
  color: white;
}
.page-style{
  width: 80%;
  margin: 0 auto;
}
.header-style{
  display: flex;
  justify-content: space-between;
}
.current-series{
  inset-inline-start: 12%;
  inset-block-start: 370px;
}
.comics-style{
  background-color: rgb(47, 175, 250);
}
.comic-content{
  display: flex;
  padding: 2rem 0;
}
.comic-img{
  height: 50px;
}
.comic-text{
  padding: 0.8rem;
  color: white;
  padding-right: 7rem;
}
footer{
  background-image: url(./img/footer-bg.jpg);
  color: white;
  background-repeat: round;
}
.footer-logo-abs{
  inset-inline-start: 50%;
  inset-block-start: 175%;
}
.lower-footer{
  display: flex;
  background-color: rgb(32, 32, 32);
  padding: 1rem;

}
.footer-follow{
  color: rgb(0, 144, 240);
  font-size: medium;
  padding: 0.2rem;
  margin: 0.2rem;
}
.footer-sign-in-btn{
    border: solid rgb(0, 144, 240);
    padding: 0.5rem;
    color: white;
    background-color: rgb(32, 32, 32);
}
.lower-footer-style{
  display: flex;
  justify-content: space-between;
}
.social-section{
  display: flex;
}
.social-img{
  padding: 0 0.5rem;
}

.cards-wrapper{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.product-card{
  flex-basis: 14%;
  padding: 0.2rem;
  color: white;
}
.product-card img {
  display: block;
  height: 210px;
}
.main-img-bk{
  background-image: url(img/jumbotron.jpg);
  height: 400px;
}
.load-more{
  margin-left: 45%;
  padding: 1rem;
}